<div id="discount-section" class="bg-white pt-8 pb-8">
  <div class="container">
    <div class="discount-card border-round-3xl overflow-hidden shadow-2">
      <img
        class="max-w-full max-h-full"
        src="assets/images/discount-section.jpg">
      <div class="discount-content grid align-items-center text-white">
        <p class="col-12 mb-2 p-0">LIMITED OFFER</p>
        <p class="md:mb-4  sm:text-base md:text-2xl lg:text-3xl">Big Savings: Shop Our Discounted Products and Save</p>
        <p-button label="Grab it now!" styleClass="p-button-raised"></p-button>
      </div>
    </div>
  </div>
</div>
