<div class="bg-white hero-section">
  <div class="container grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
        <span class="block text-6xl font-bold mb-1">Shop with Ease on ShopEase.com</span>
        <div class="text-2xl text-primary font-bold mb-3">Your One-Stop Online Shop for Everything You Need!</div>
        <p class="mt-0 mb-4 text-700 line-height-3">Join the thousands of satisfied shoppers who trust ShopEase.com for all their online shopping needs. Start shopping today and experience the ease and convenience of shopping online!"</p>

        <button pButton pRipple label="Buy Now" type="button" class="mr-3 p-button-raised"></button>
        <button pButton pRipple label="Categories" type="button" class="p-button-outlined"></button>
      </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden hero-section-img">
      <img
        src="../../assets/images/hero-image.jpg"
        alt="Image"
        class="md:ml-auto block md:h-full max-w-full"
        style="clip-path:
        polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
  </div>
  <a href="#categories" class="go-down flex flex-column">
    <i class="pi pi-chevron-down"></i>
    <i class="pi pi-chevron-down"></i>
    <i class="pi pi-chevron-down"></i>
  </a>
</div>
