.category-btn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
}
.category-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
.active {
  background-color: var(--primary-color);
  color: white;
}
